.Navbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: white;
  background-color: #3f3d56;
  transition: 0.5s all ease;
  width: 1438px;
  height: 73px;
  //   position: sticky;
  //   top: 0;
  z-index: 999;
  width: 100vw;
  &.active {
    background-color: #3f3d56;
    color: white;
  }
  .right {
    flex: 1;
    padding-left: 72px;
    .logo {
      .logo-link {
        text-decoration: none;
        .text {
          color: #fff;
          text-align: center;
          font-family: Epilogue;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 30px; /* 150% */
          cursor: pointer;
        }
        &:hover .text {
          color: #e7e6e6;
        }
      }
    }
  }
  .left {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 72px;
    gap: 45px;
    .nav-link {
      text-decoration: none;
      .text {
        color: #fff;
        text-align: center;
        font-family: Epilogue;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 150% */
      }
    }
  }
  .ham-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .Navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 73px;
    background-color: #3f3d56;
    color: white;
    &.active {
      background-color: #3f3d56;
      color: white;
    }
    .right {
      flex: 1;
      padding: 0px;
      .logo {
        margin: 21px 33px 21px 39px;
        .logo-link {
          .text {
            color: #fff;
            text-align: center;
            font-family: Epilogue;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px; /* 150% */
            &:hover .text {
              color: #e7e6e6;
            }
          }
        }
      }
    }
    .left {
      display: none;
      margin: 0px;
    }

    .ham-menu {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 24px;
      position: relative;
      color: #fff;
      text-align: center;
      font-family: Epilogue;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 150% */
      margin: 16px 33px 16px 122px;
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
      }
      img {
        width: 35px;
        height: 35px;
      }
      .options {
        position: absolute;
        top: 50px;
        right: 0;
        padding: 20px;
        background-color: #3f3d56;
        border-radius: 10px;
        border: 1px solid lightgray;
        display: flex;
        flex-direction: column;
        color: gray;
        gap: 10px;
        width: 200px;
        font-weight: 300;
        .link {
          color: #fff;
          text-align: center;
          font-family: Epilogue;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 30px; /* 150% */
          &:hover .text {
            color: #e7e6e6;
          }
        }
      }
    }
  }
}
