.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 120px;
  background-color: rgb(243, 243, 243);

  // background-color: gray;
  .top {
    width: 1303px;
    height: 38px;
    display: flex;
    gap: 22px;
    justify-content: center;
    flex-shrink: 0;
    img {
      width: 24px;
      height: 24px;
      color: #313131;
    }
  }
  .bottom {
    width: 1303px;
    height: 38px;
    justify-content: center;
    color: #313131;
    text-align: center;
    font-family: Epilogue;
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    // height: 120px;
    background-color: rgb(243, 243, 243);

    // background-color: gray;
    .top {
      width: 100vw;
      height: 38px;
      display: flex;
      gap: 22px;
      justify-content: center;
      flex-shrink: 0;
      img {
        width: 24px;
        height: 24px;
        color: #313131;
      }
      &:hover img {
        box-shadow: rgba(2, 116, 230, 0.2) 0px 8px 24px;
      }
    }
    .bottom {
      word-wrap: normal;
      width: 100vw;
      height: 38px;
      justify-content: center;
      color: #313131;
      text-align: center;
      font-family: Epilogue;
      font-size: 15px;
      line-height: 35px;
    }
  }
}
