.review-container {
  width: 100vw;
  height: 650px;
  background: #a259ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 108px;

  .heading {
    padding-top: 69px;
    margin-bottom: 108px;
    color: #fff;
    font-family: Epilogue;
    font-size: 32px;
    font-weight: 500;
  }
  .review-body {
    display: flex;
    gap: 110px;
  }
}
